.todoInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(77, 77, 77);
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
  background-color: #414040;
  padding: 10px;
  /* padding-bottom: 25px; */
}

.todoInputItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74%;
}

.todoInputItem div {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoInputButton {
  display: flex;
  justify-content: space-between;
  width: 24%;
  /* flex: 1; */
  height: 65px;
}

.todoInputItem label {
  margin-bottom: 10px;
  font-weight: bold;
}

.todoInputItem input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.todoInputItem input:focus {
  outline: 2px solid rgb(0, 230, 122);
}

.primaryBtn {
  color: white;
  border-radius: 5px;
  border: none;
  /* margin-top: 27px; */
  /* padding: 10px; */
  width: 48%;
  cursor: pointer;
}

.addBtn {
  background-color: rgb(0, 230, 122);
}

.addBtn:hover {
  background-color: rgb(4, 192, 104);
}

.cancelBtn {
  background-color: rgb(212, 105, 33);
}

.cancelBtn:hover {
  background-color: rgb(179, 92, 34);
}

@media screen and (max-width: 766px) {
  .todoInput {
    flex-direction: column;
    width: calc(100% - 20px);
  }
  .todoInputItem {
    flex-direction: column;
    width: 100%;
  }

  .todoInputItem div {
    width: 100%;
  }

  .todoInputItem div:last-child {
    margin-bottom: 7px;
  }

  .todoInputItem label {
    margin-bottom: 5px;
  }

  .todoInputItem input {
    width: 100%;
    margin-bottom: 5px;
  }

  .todoInputButton {
    width: 100%;
    height: 31px;
  }

  .addBtn,
  .primaryBtn {
    width: 49%;
    border-radius: 4px;
  }
}
